In [2]:
import pandas as pd
import numpy as np
import matplotlib as mplot
from sklearn.datasets import load_iris

In [3]:
 censo= pd.read_csv("http://goo.gl/n7pj1K",header=None)
censo.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
censo.columns = ["age", "workclass", "fnlwgt", "education", "education-num", 
              "marital-status", "occupation", "relationship", "race", "sex", 
              "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]

In [5]:
censo.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [6]:
censo["income"].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [7]:
censo["income"] = censo["income"].apply(lambda x: 0 if x==" <=50K" else 1)

In [8]:
censo["income"].value_counts()

0    24720
1     7841
Name: income, dtype: int64

In [9]:
censo["age"].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [10]:
print( censo["age"].max(), "valor máximo")
print( "valor mínimo " ,  censo["age"].min())

90 valor máximo
valor mínimo  17

In [11]:
Q1= censo["age"].quantile(0.25)

In [12]:
print(Q1)

28.0

In [13]:
Q3= censo["age"].quantile(0.75)

In [14]:
print(Q3)

48.0

In [15]:
IQR= Q3-Q1
print(IQR)

20.0

In [16]:
corte_abajo=Q3 - (IQR*1.5)
corte_arriba=Q1 + (IQR*1.5)
print(corte_abajo)
print(corte_arriba)

18.0
58.0

In [17]:
df1= censo[(censo.age< 18) | (censo.age >58)]

In [18]:
df1.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,0
74,79,Private,124744,Some-college,10,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,0,0,20,United-States,0
77,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,0
83,59,Private,159937,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,0
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1

In [19]:
x= censo.drop(["income"],1)

In [20]:
y= censo["income"]

In [21]:
censo["race"].value_counts()

 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64

In [22]:
dummies= pd.get_dummies(x["race"])

In [23]:
print(dummies.head())

    Amer-Indian-Eskimo   Asian-Pac-Islander   Black   Other   White
0                    0                    0       0       0       1
1                    0                    0       0       0       1
2                    0                    0       0       0       1
3                    0                    0       1       0       0
4                    0                    0       1       0       0

In [24]:
x= pd.concat([x, dummies],axis=1)

In [25]:
x.head()
# x= x.drop("race",axis=1) ,  x= x.drop(["race"],1),  x.drop(["race"],1,  inplace=True)
del x["race"]

In [26]:
x.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Male,2174,0,40,United-States,0,0,0,0,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,13,United-States,0,0,0,0,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,Male,0,0,40,United-States,0,0,0,0,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,United-States,0,0,1,0,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,40,Cuba,0,0,1,0,0

In [27]:
x["native-country"] = x["native-country"].apply(lambda x: "country-usa" if x==" United-States" else "country-other")

In [28]:
x["native-country"].value_counts()

country-usa      29170
country-other     3391
Name: native-country, dtype: int64

In [29]:
dummies= pd.get_dummies(x["native-country"])
x= pd.concat([x, dummies],axis=1)
del x["native-country"]

In [30]:
x.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'sex', 'capital-gain',
       'capital-loss', 'hours-per-week', ' Amer-Indian-Eskimo',
       ' Asian-Pac-Islander', ' Black', ' Other', ' White', 'country-other',
       'country-usa'],
      dtype='object')

In [31]:
x.columns= x.columns.str.replace(" ","")
x.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'sex', 'capital-gain',
       'capital-loss', 'hours-per-week', 'Amer-Indian-Eskimo',
       'Asian-Pac-Islander', 'Black', 'Other', 'White', 'country-other',
       'country-usa'],
      dtype='object')

In [32]:
print("workclass", len(x["workclass"].unique())) #Comprobar quantas propiedades categóricas hay

workclass 9

In [33]:
for nombre_columna in x.columns:
    if x[nombre_columna].dtypes == 'object':
        número_categorias = len(x[nombre_columna].unique())
        print(nombre_columna, número_categorias)

workclass 9
education 16
marital-status 7
occupation 15
relationship 6
sex 2

In [34]:
for nombre_columna in x.columns:
    if x[nombre_columna].dtypes == 'object':
        dummies = pd.get_dummies(x[nombre_columna])
        x = pd.concat([x, dummies], axis=1)
        del x[nombre_columna]
        x.columns = x.columns.str.replace(" ", "")

In [35]:
len(x.columns)

68