In [25]:
import pandas as pd
import numpy as np
import matplotlib as mplot
from sklearn.datasets import load_iris

In [26]:
boston= pd.read_csv("https://goo.gl/KsLCau")
boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [27]:
boston.shape

(506, 15)

In [28]:
boston.drop(df.columns[0], axis=1)
boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [35]:
boston= boston.rename(index=str, columns={"medv": "price"})

In [38]:
X = boston[["crim", "zn", "indus", "chas", "nox", "rm", "age", "dis", "rad", "tax", "ptratio", "black", "lstat"]]

y = boston['price']

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=5)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

C:\Users\Usuario√ß\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [40]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [42]:
lr.intercept_

31.730351296497858

In [44]:
lr.coef_

array([-1.54486040e-01,  4.13948217e-02, -2.53765225e-02,  7.86055259e-01,
       -1.29365836e+01,  4.03952301e+00, -1.05354914e-02, -1.33498644e+00,
        3.18272501e-01, -1.26427463e-02, -9.77287564e-01,  1.26714702e-02,
       -4.62052176e-01])

In [47]:
list(zip(X.columns,lr.coef_))

[('crim', -0.15448604027979826),
 ('zn', 0.04139482169263567),
 ('indus', -0.025376522474289773),
 ('chas', 0.7860552594193214),
 ('nox', -12.936583603916553),
 ('rm', 4.039523011237896),
 ('age', -0.010535491433930668),
 ('dis', -1.3349864350808527),
 ('rad', 0.3182725010712725),
 ('tax', -0.012642746298746278),
 ('ptratio', -0.977287563933398),
 ('black', 0.012671470228641454),
 ('lstat', -0.46205217632388806)]

In [50]:
lr.score(X_train,y_train)

0.7611598772034452

In [51]:
lr.score(X_test,y_test)

0.6771696999851706